body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 5fr;
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
h2,
h1,
h3,
p {
  margin: 0px;
  padding: 0px;
}
.page-user-data {
  display: flex;
  gap: 24px;
  align-items: center;
}
.page-img-container {
  width: 65px;
  height: 65px;
  border-radius: 132px;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 22px;
  background: white;
  justify-content: center;
  align-items: center;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 30px;
}
.search-container > input {
  border-color: #3f3b3b;
  height: 100%;
  width: min(500px, 30vw);
  border-radius: 29px;
  padding: 9px;
  box-shadow: 1px 1px 5px 0px #705e5e;
}
div.header-buttons {
  display: flex;
  gap: 24px;
  height: 100%;
}
div.search-container > div.search-img-container {
  display: flex;
  width: 32px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #24527a;
  border-radius: 15px;
}
div.header-buttons > button {
  width: 100px;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  background: #24527a;
  border: none;
  font-size: 17px;
  color: white;
}
.search-container > input:hover {
  transform: scale(1.04);
  background: #cfc8c8;
}
h1.profile-name {
  margin: 0px;
}
img.logo {
  max-width: 25px;
}
.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.logo-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}
div.logo-container > h1.logo-name {
  font-size: 36px;
  margin: 0px;
}
.logo-container > img.main-logo {
  max-width: 50px;
}
div.logo-container > h1.logo-name {
  font-size: 36px;
}
.left-main {
  display: grid;
  grid-template: repeat(auto-fit, 260px) / repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-columns: minmax(350px, 1fr);
  grid-auto-rows: 260px;
  justify-content: center;
  gap: 24px;
  padding: 32px 55px 32px 55px;
  width: 100%;
}
.left-main > div.main-grid-item {
  padding: 30px;
  text-align: start;
  background: var(--card-background);
  border-left: 11px solid var(--card-border-left-color);
  border-right: 11px solid var(--card-border-left-color);
  border-radius: 16px;
  box-shadow: 2px 5px 10px #c0c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  align-items: center;
}
.left-main > div.main-grid-item > div {
  font-size: 20px;
}

.quotes {
  background-color: white;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
}
.hidden-books {
  background-color: white;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
}
div.main-body {
  background: #ededed;
}
.clickable:hover {
  transform: scale(1.2);
}
.clickable:active {
  border: 1px solid#ffffff8e;
  border-radius: 12px;
}
#add-new-book {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#add-new-book > div {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#add-new-book > div input {
  padding-left: 5px;
}
#add-new-book > div input,
div button {
  height: 30px;
  border-radius: 11px;
}
.input-model {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  padding: 30px;
  border-radius: 12px;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  width: 400px;
  max-width: 40vw;
  border: 1px solid black;
}
.input-model.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}
.input-model > .model-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.input-model > .model-header > div.model-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.input-model > .model-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.3rem;
  font-weight: bold;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
  transition: 200ms ease-in-out;
}
div.main-grid-item > button.status,
button.remove-card {
  width: 85%;
  min-height: 30px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  background: var(--button-background);
  border: none;
  font-size: 17px;
  color: var(--button-text-color);
}
div.main-body > div.left-main > .selected {
  transform: scale(1.04);
  box-shadow: 0px 0px 12px 1px var(--selected-card-color);
}
.main-grid-item[status="0"] {
  --button-background: #307470;
  --button-text-color: #9ae17b;
  --card-background: #9ae17b;
  --card-text-color: #42476d;
  --card-border-left-color: #307470;
  --selected-card-color: rgb(51, 51, 51);
}
.main-grid-item[status="1"] {
  --button-background: #272344;
  --button-text-color: #bae8e8;
  --card-background: #bae8e8;
  --card-text-color: #272344;
  --card-border-left-color: #272344;
  --selected-card-color: green;
}
.main-grid-item[status="2"] {
  --button-background: #5c715e;
  --button-text-color: #ddeedf;
  --card-background: #f2f9f1;
  --card-text-color: #5c715e;
  --card-border-left-color: #b6cdbd;
  --selected-card-color: blue;
}

.input-field-container {
  height: 100%;
}
.input-field-container > input.search {
  border-color: #3f3b3b;
  height: 100%;
  width: min(500px, 30vw);
  border-radius: 29px;
  padding: 9px;
  box-shadow: 1px 1px 5px 0px #705e5e;
}
.input-field-container > .search-text {
  transform: scale(0);
  transition: 300ms ease-in-out;
}
.input-field-container > .search-text.notFound {
  color: red;
  font-size: 14px;
  transform: scale(1);
  transition: 300ms ease-in-out;
}
div.main-body {
  display: flex;
}
div.right-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: #5dacbd;
  width: 0px;
  transition: 300ms ease-in-out;
  --table-width: scale(0);
}

div.right-main.visible {
  width: 350px;
  --table-width: scale(1);
}
.statistics-button {
  position: absolute;
  transform: rotate(-90deg);
  left: -79px;
  top: 104px;
  height: 24px;
  width: 134px;
  border-radius: 5px;
  background: #24527a;
  color: white;
  cursor: pointer;
}

.table-line {
  display: flex;
  margin-left: 18px;
  gap: 24px;
}
.right-main > .table1,
.table2 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background: #a7bcb9;
  width: 90%;
  height: 220px;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 12px;
  transform: var(--table-width);
}
.left-main > div.main-grid-item > .author {
  text-decoration: dotted;
  font-style: italic;
  font-size: 17px;
}
.left-main > div.main-grid-item > .title {
  font-weight: bold;
}
